body{
	background-color: #1f2331 !important;
	margin: 0;
	padding: 0;
	color: #9FABB8 !important;
	font-family: consolas, sans-serif !important;
	
}
.favico{
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.ascii-art{
	color: #5bd9c6;
	font-size: 7px !important;
}
a,a:visited,a:focus{
	color: #5bd9c6 !important;
}
a:hover{
	text-decoration: none !important;
	color: #36ab99 !important;
}
hr{
	margin: 7px 0px !important;
	color: #343a51 !important;
	border-color: #343a51 !important;
}
h1{
	color:white;
}
.tabs_wrapper{

}
.tab_item{
	position: relative;
}
.tab_title{

}
.tab_url{

}